
<h1>Add a vendor here:</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to home page</a></p>
<p><a href="/vendors">Back to my current of vendors.</a></p>