<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="orderDescription">What does the order contain?</label>
  <input id="orderDescription" name="orderDescription" type="text">

  <label for="notes">add notes about this order </label> 
  <input id="notes" name="notes" type="text">

  <button type='submit'>Add new order</button>
</form>